<h1>
  Tickets!
</h1>
<div class="containter">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="form-signin-heading">Purchase ticket</h2>
        <form role="form" (ngSubmit)="create()">
      <div class="form-group">
        <label for="type">Select type of ticket:</label>
        <select class="form-control" id="type" name="type" [(ngModel)]="ticket.type" (change)="priceDisplay()" required >
          <option value="ONE_TIME">One use</option>
          <option value="ONE_DAY">One day</option>
          <option value="ONE_MONTH">One month</option>
          <option value="ONE_YEAR">One year</option>
        </select>
        <p *ngIf="price">Price is: {{price}} RSD</p>
      </div>
      <button type="submit" class="btn btn btn-primary" id="create">Create</button>
      </form>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>