<div class="col-md-6">
  <button class="btn btn btn-primary" (click)="toggleCreate()" id="create_pricelist">Create new pricelist</button>
  <div *ngIf="createPricelistForm">
    <h2 class="form-signin-heading">Create pricelist</h2>
    <form role="form" (ngSubmit)="create()">
    <div class="form-group">
      <label for="priceBugOneTime">Price for Bus and One time ticket</label>
      <input type="number" id="priceBugOneTime" class="form-control" name="bus_oneTime" [(ngModel)]="prices[0].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Bus and One day ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[1].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Bus and monthly ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[2].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Bus and yearly ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[3].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Tram and One time ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[4].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Tram and One day ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[5].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Tram and monthly ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[6].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Tram and yearly ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[7].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Trolleybus and One time ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[8].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Trolleybus and One day ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[9].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Trolleybus and monthly ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[10].price">
    </div>
    <div class="form-group">
      <label for="priceBugOneday">Price for Trolleybus and yearly ticket</label>
      <input type="number" id="priceBugOneDay" class="form-control" name="bus_oneDay" [(ngModel)]="prices[11].price">
    </div>
    <button type="submit" class="btn btn btn-primary" id="create">Create</button>
    </form>
  </div>
</div>
<br/>
<div id="accordion" *ngFor="let pricelist of pricelists; let i=index">
  <div class="card">
    <div class="card-header" id="i">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#pridelist.id" aria-expanded="true" aria-controls="pridelist.id">
          Pricelist created {{ pricelist.date_formed | date:'medium'}}
        </button>
        <button style="float:right;" *ngIf="pricelist.date_invalidated" class="btn btn-primary" (click)=" reactivatePRicelist(pricelist.id)">Reactivate</button>
        <button style="float:right;"class="btn btn-warning" (click)="deletePricelist(pricelist.id)">Delete</button>
      </h5>
    </div>

    <div id="pridelist.id" class="collapse show" aria-labelledby="i" data-parent="#accordion">
      <div class="card-body" *ngFor="let price of pricelistPrices[i]">
        <span>{{price.ticketType}}, {{price.transportType}}: {{price.price}} RSD</span><br>
      </div>
    </div>
  </div>
</div>
